node_modules
.dendron.*
build
.nuxt
dist
.DS_Store

/temp/*.json

/static/images/*
/static/audio/*
/static/pdfs/*
/static/pdf/*
/static/thumbnails/l/*.png
/static/thumbnails/l/*.jpg
/static/thumbnails/l/*.jpeg
/static/thumbnails/s/*.png
/static/thumbnails/s/*.jpg
/static/thumbnails/s/*.jpeg
