.animatefast(@property){
  transition: @property 250ms ease;
}

.animatemedium(@property){
  transition: @property .5s cubic-bezier(0.25, 1, 0.5, 1);
}

.animateslow(@property){
  transition: @property .7s cubic-bezier(0.25, 1, 0.5, 1);
}

.animateslowest(@property){
  transition: @property 1s ease;
}