:root {
  --background-1:@bg;
  --background-2:@bg-2;

  --current-scheme-bg:#cccccc;
  --current-scheme-fg: #000000;

  --scheme-0-bg:#3b3f3f;
  --scheme-0-fg:#FFFFFF;
  --scheme-1-bg:#FF7F37;
  --scheme-1-fg:#000000;
  --scheme-2-bg:#214913;
  --scheme-2-fg:#FFFFFF;
  --scheme-3-bg:#84E3B0;
  --scheme-3-fg:#000000;
  --scheme-4-bg:#A42F28;
  --scheme-4-fg:#FFFFFF;
  --scheme-5-bg:#0047FF;
  --scheme-5-fg:#FFFFFF;
  --scheme-6-bg:#DD3821;
  --scheme-6-fg:#FFFFFF;
  --scheme-7-bg:#6E2E60;
  --scheme-7-fg:#FFFFFF;
  --scheme-8-bg:#FF7B7B;
  --scheme-8-fg:#000000;
  --scheme-9-bg:#959730;
  --scheme-9-fg:#000000;
  --scheme-10-bg:#322822;
  --scheme-10-fg:#FFFFFF;
  --scheme-11-bg:#9A7051;
  --scheme-11-fg:#000000;
  --scheme-12-bg:#FFC46C;
  --scheme-12-fg:#000000;
  --scheme-13-bg:#416173;
  --scheme-13-fg:#FFFFFF;
  --scheme-14-bg:#E6E94B;
  --scheme-14-fg:#000000;
  --scheme-15-bg:#86DB31;
  --scheme-15-fg:#000000;
  --scheme-16-bg:#11BC74;
  --scheme-16-fg:#000000;
  --scheme-17-bg:#EB57EE;
  --scheme-17-fg:#000000;
}