.f-serif{
  font-family: @f-serif;
}

.f-mono{
  font-family: @f-mono;
}

h1{
  font-size: @fs-xl;
}

h2{
  font-size: @fs-l;
}

p{
  margin-bottom: 1rem;
}

.quote{
  font-size: @fs-s;
  line-height: @lh-long;
}

.caption{
  font-size: @fs-xxs;
  line-height: @lh-short;
}

.subheading{
  font-size: @fs-s;
  line-height: @lh-short;
}

.description{
  font-size: @fs-xs;
  line-height: @lh-long;
}

sup{
  top:0rem;
  background-color: @white;
  padding: 0.4rem 0.5rem 0.3rem;
  font-size: @fs-s;
  margin: 0 @space-xs;
  box-shadow: @shadow-small;

  .footnote-ref{
    width: 0px;
    height: 0px;
    overflow: hidden; 
    display: inline-block;
  }
  &::after{
    // border:1px solid blue;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: visible;
  }
}